/* <<<<< <<<<< <<<<< ----------------- >>>>> >>>>> >>>>> */
/* <<<<< <<<<< <<<<< GENERALS SETTINGS >>>>> >>>>> >>>>> */
/* <<<<< <<<<< <<<<< ----------------- >>>>> >>>>> >>>>> */
:root {
    --shadowLight: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --shadowMedium: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --shadowStrong: rgba(0, 0, 0, 0.6) 0px 5px 15px;
    --shadowNeat: rgba(0, 0, 0, 0.6) 2px 2px 2px;
    --shadowGlow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    --shadowBright: rgba(255, 255, 255, 0.75) 0px 5px 15px;

    --colorAccent: #4b1412;
    --colorAccentTransparent: #4b141273;
    --colorLight: #ccd0ce;
    --colorLighter: #ffffff;
    --colorLighterTransparent: #ffffff73;
    --colorLighterTransparenter: #ffffff40;
    --colorDarkTransparent: #28282866;
    --colorDark: #282828;
    --colorDarker: #1a1a1a;

    --fontAccent: "Arial";
    --fontMain: "Open Sans";
    --fontWeight: 300;
    --fontWeightAccent: 500;

    --headerHeight: 4rem;
    // --scrollWidth: 17px;

    --fontSizeTiny: 0.8rem;
    --fontSizeSmall: 1.1rem;
    --fontSizeMedium: 1.25rem;
    --fontSizeLarge: 1.5rem;
}

:root {
    font-size: var(--fontSizeSmall);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fontMain);
    font-weight: var(--fontWeight);
    color: var(--colorLighter);
}

h1,
h2,
h3{
    padding: 0.5em 0;
}

h1,
h2,
h3,
p,
a {
    text-shadow: var(--shadowLight);
}

h1 {
    margin: 0;
    color: var(--colorAccent);
    text-align: center;
    font-family: var(--fontAccent);
}

h2 {
    text-align: center;
    border-bottom: 2px solid var(--colorLighter);
    font-size: var(--fontSizeLarge);
    font-family: var(--fontAccent);
}

p{
    font-size: var(--fontSizeSmall);
    line-height: 1.6;
}

a, a>* {
    color: var(--colorAccent);
    text-decoration: none;
    line-height: 1.6;
    font-size: var(--fontSizeSmall);
}

body {
    background-color: var(--colorLighter);
}