/*
    <<<<< <<<<< <<<<< -------- >>>>> >>>>> >>>>>
    <<<<< <<<<< <<<<< A PROPOS >>>>> >>>>> >>>>>
    <<<<< <<<<< <<<<< -------- >>>>> >>>>> >>>>>
*/
.aPropos {
    position: relative;

    & .pContainer {
        position: absolute;
        right: 0;
        top: 0;
    
        width: max(350px, 34%);
        max-width: 100vw;
        height: 100%;
    
        padding: 1vw;
        background-color: var(--colorDarkTransparent);
        border-left: solid 2px var(--colorLighter);
    
        display: flex;
        flex-direction: column;

        & h2 {
            margin-top: auto;
        }
        
        & .text {
            margin-bottom: auto;
        }
    }
    
    
    
    & .carrousel__item {
        width: 66%;

        &4 {
            width: 34%;
        }
    }
}
/* 
    <<<<< <<<<< <<<<< ----- >>>>> >>>>> >>>>> 
    <<<<< <<<<< <<<<< PHONE >>>>> >>>>> >>>>> 
    <<<<< <<<<< <<<<< ----- >>>>> >>>>> >>>>> 
*/
