/*
    <<<<< <<<<< <<<<< -------- >>>>> >>>>> >>>>>
    <<<<< <<<<< <<<<< CHANTIER >>>>> >>>>> >>>>>
    <<<<< <<<<< <<<<< -------- >>>>> >>>>> >>>>>
*/
.chantier{
    & .carrousel__item {
        width: 66%;
        scroll-snap-align: end;

        &0 {
            width: 34%;
        }
    }
    
    
    
    & .pContainer {
        position: absolute;
        right: unset;
        left: 0;
        width: 34%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        z-index: 1;

        border-right: solid 2px var(--colorLighter);

        background-color: var(--colorDarkTransparent);
    }
    
    & h2 {
        margin-top: auto;
    }
    
    & .text{
        margin-bottom: auto;
    }
}