/* 
    <<<<< <<<<< <<<<< ------ >>>>> >>>>> >>>>> 
    <<<<< <<<<< <<<<< SCROLL >>>>> >>>>> >>>>> 
    <<<<< <<<<< <<<<< ------ >>>>> >>>>> >>>>> 
*/

.scrollContainer {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-color: var(--colorLighterTransparent) var(--colorDark);
    scrollbar-width: none;
}

.scrollContainer::-webkit-scrollbar {
    width: 0;
    background-color: var(--colorDark);
}

.scrollContainer::-webkit-scrollbar-thumb {
    background-color: var(--colorLighterTransparent);
}

.scrollContainer .btn {
    background-color: var(--colorLighterTransparenter);
    height: 40px;
    position: absolute;
    z-index: 9;
    left: 45vw;
    right: 45vw;
    cursor: pointer;
    opacity: 1;
    font-size: 30px;
    display: flex;
    box-shadow: var(--shadowMedium);
    transition: box-shadow 75ms, opacity 500ms, width 500ms, color 75ms, background-color 75ms;
}

.scrollContainer .btn p {
    line-height: 1;
    margin: auto;
    padding: 0;
    color: var(--colorDark);
}

.scrollContainer .btn:hover {
    box-shadow: var(--shadowIntense);
}

.scrollContainer .btn:hover p {
    color: var(--colorDark);
}

.scrollContainer .btn.hidden {
    opacity: 0;
    width: 0;
    overflow: hidden;
    color: #ffffff00;
}

.scrollContainer .btnUp {
    top: 0;
    border-radius: 0 0 10px 10px;
}

.scrollContainer .btnDown {
    bottom: 0;
    border-radius: 10px 10px 0 0;
}